In [5]:
# Import the package 
import pandas as pd
import numpy as np

In [6]:
# Import the data file 
School = pd.read_csv('../PyCitySchools/raw_data/schools_complete.csv')
Student = pd.read_csv('../PyCitySchools/raw_data/students_complete.csv')

In [7]:

# Some Preliminary analysis to do Q/A of the data
School.info()
Student.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
School ID    15 non-null int64
name         15 non-null object
type         15 non-null object
size         15 non-null int64
budget       15 non-null int64
dtypes: int64(3), object(2)
memory usage: 520.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 7 columns):
Student ID       39170 non-null int64
name             39170 non-null object
gender           39170 non-null object
grade            39170 non-null object
school           39170 non-null object
reading_score    39170 non-null int64
math_score       39170 non-null int64
dtypes: int64(3), object(4)
memory usage: 1.5+ MB

In [8]:
Total_students = len(Student['Student ID'])
Total_budget = School['budget'].sum()
Av_reading = Student['reading_score'].mean()
Av_math = Student['math_score'].mean()
Passing_math_percent= (len(Student.loc[Student['math_score']>65])/Total_students)*100
Passing_reading_percent= (len(Student.loc[Student['reading_score']>65])/Total_students)*100
Overall_passing = (Passing_math_percent + Passing_reading_percent)/2

In [9]:
# create a summary table
District_Summary = pd.DataFrame({
        
                'Total Students':[Total_students],
                'Total Budget':[Total_budget],
                'Average Reading':[Av_reading],
                'Average Math':[Av_math],
                '% Passing Math':[Passing_math_percent],
                '% Passing reading':[Passing_reading_percent],
                '% Overal Passing ':[Overall_passing]})

District_Summary = District_Summary[['Total Students',
                'Total Budget',
                'Average Reading',
                'Average Math',
                '% Passing Math',
                '% Passing reading',
                '% Overal Passing ']]

District_Summary = District_Summary.round(2)

In [10]:
District_Summary

,Total Students,Total Budget,Average Reading,Average Math,% Passing Math,% Passing reading,% Overal Passing
0,39170,24649428,81.88,78.99,83.11,94.26,88.69

In [11]:
#********************School Summary******************

#* Create an overview table that summarizes key metrics about each school, including:
 # * School Name
  #* School Type
  #* Total Students
  #* Total School Budget
  #* Per Student Budget
  #* Average Math Score
  #* Average Reading Score
  #* % Passing Math
  #* % Passing Reading
  #* Overall Passing Rate (Average of the above two)

In [12]:
# Determine Budget per studet
School['Budget_per_student'] = (School['budget']/School['size']).round(2)
School.columns =['School ID', 'school','type','size','budget','Budget_per_student']
School

,School ID,school,type,size,budget,Budget_per_student
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [13]:
f = {'math_score': ['mean'],
    'reading_score': ['mean'],
     'Student ID':['count'],
    }

table_1 = Student.groupby('school').agg(f)
table_1

#def pass_math_per(values):
 #   x=  (len(Student.loc[Student['math_score']>65])/Total_students)*100
  #  return x

#Student.groupby('school').agg(pass_math_per)

                      math_score reading_score Student ID
                            mean          mean      count
school
Bailey High School     77.048432     81.033963       4976
Cabrera High School    83.061895     83.975780       1858
Figueroa High School   76.711767     81.158020       2949
Ford High School       77.102592     80.746258       2739
Griffin High School    83.351499     83.816757       1468
Hernandez High School  77.289752     80.934412       4635
Holden High School     83.803279     83.814988        427
Huang High School      76.629414     81.182722       2917
Johnson High School    77.072464     80.966394       4761
Pena High School       83.839917     84.044699        962
Rodriguez High School  76.842711     80.744686       3999
Shelton High School    83.359455     83.725724       1761
Thomas High School     83.418349     83.848930       1635
Wilson High School     83.274201     83.989488       2283
Wright High School     83.682222     83.955000       1800

In [14]:
#Merge the two tables 
#Summary_school = pd.merge(School,table_1, on ='school')

In [15]:
school_grade_R =Student.groupby(['school','grade']).reading_score.mean()
School_grade_R= school_grade_R.to_frame()
School_grade_R = School_grade_R.pivot_table(
    index=['school'],
    columns='grade',
    values='reading_score')
School_grade_R = School_grade_R.reset_index().round(2)
School_grade_R

grade                 school   10th   11th   12th    9th
0         Bailey High School  80.91  80.95  80.91  81.30
1        Cabrera High School  84.25  83.79  84.29  83.68
2       Figueroa High School  81.41  80.64  81.38  81.20
3           Ford High School  81.26  80.40  80.66  80.63
4        Griffin High School  83.71  84.29  84.01  83.37
5      Hernandez High School  80.66  81.40  80.86  80.87
6         Holden High School  83.32  83.82  84.70  83.68
7          Huang High School  81.51  81.42  80.31  81.29
8        Johnson High School  80.77  80.62  81.23  81.26
9           Pena High School  83.61  84.34  84.59  83.81
10     Rodriguez High School  80.63  80.86  80.38  80.99
11       Shelton High School  83.44  84.37  82.78  84.12
12        Thomas High School  84.25  83.59  83.83  83.73
13        Wilson High School  84.02  83.76  84.32  83.94
14        Wright High School  83.81  84.16  84.07  83.83

In [16]:
School.rename(columns={'School ID':'School ID', 'name' : 'school', 'type' : 'type', 'size' :  'size', 'budget' :  'size'})

,School ID,school,type,size,size,Budget_per_student
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [17]:
Student.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [18]:
Merged_df= pd.merge(Student,School, on='school')

In [19]:
Merged_df

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget,Budget_per_student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,655.0
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,655.0
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,655.0
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,655.0
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,655.0
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,655.0
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,655.0
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,655.0
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,655.0
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,655.0
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,655.0
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,655.0
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,655.0
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,655.0
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,655.0
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,655.0
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,655.0
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,655.0
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,655.0
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,655.0
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,655.0
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,655.0
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,655.0
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,655.0
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,638.0
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,638.0
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,638.0
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,638.0
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,638.0
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,638.0
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,638.0
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,638.0
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,638.0
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,638.0
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,638.0
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,638.0
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,638.0
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,638.0
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,638.0
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,638.0
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,638.0
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,638.0
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,638.0
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,638.0
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,638.0
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,638.0
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,638.0
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,638.0
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,638.0
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

In [28]:

f_1 = {         'reading_score':['mean'],
                'math_score':['mean'],
       
                #'% Passing Math':[Passing_math_percent],
                #'% Passing reading':[Passing_reading_percent],
                #'% Overal Passing ':[Overall_passing]
}

#passing_math_type = Merged_df.groupby(['type']).mean()([Passing_reading_percent])
table_Type = Merged_df.groupby('type').agg(f_1)
table_Type

         reading_score math_score
                  mean       mean
type
Charter      83.902821  83.406183
District     80.962485  76.987026